EXPO_PUBLIC_API_BASE_URL=http://localhost:8000/api
EXPO_PUBLIC_X_APP=mycitycareapp
EXPO_PUBLIC_X_USER=mycitycareuser
EXPO_PUBLIC_X_SIGNATURE=secret-signature
EXPO_PUBLIC_MAX_ATTACHMENTS=5
EXPO_PUBLIC_GOOGLE_MAPS_SECRET_KEY=your-google-maps-sdk-key
