DJANGO_SECRET_KEY=
DJANGO_DEBUG=
DJANGO_ALLOWED_HOSTS=
DB_ENGINE=
SQLITE_NAME=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_HOST=
MYSQL_PORT=
API_SECURITY_USER=
API_SECURITY_APP=
API_SECURITY_SIGNATURE=
JWT_ACCESS_MINUTES=
JWT_REFRESH_DAYS=
TIME_ZONE=
